@import "../helpers/*"

.subscribe-form
  width 580px
  height 246px
  background $green-gray url('../svg/subscribe-confirmation.svg') -28px -8px no-repeat
  background-size 152px auto
  padding 45px 80px 60px
  text-align center
  .show-socials
    display none
  &__line
    white-space nowrap
    margin 0 0 20px
  &__title
    font-size 32px
    font-weight bold
    margin 0 0 24px
  &__input
    input()
    width 260px
    margin 0 10px 0 0
  &__submit
    green_button()
    background-image url('../svg/subscribe.svg')
    background-size 19px 19px
    background-position 23px 50%

@media (max-width: 620px)
  html body .subscribe-form
    width 280px
    height 180px
    padding 0
    background-size auto 90px
    background-position -18px 10px
    .show-socials
      display block
    &__title
      font-size 22px
      line-height 46px
      border-bottom 1px solid $transparent-grey
      display block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      font-weight normal
      padding 0 46px 0 15px
      margin 0 0 15px
    .checkbox
      padding 0 15px
      &__label
        text-align left
        white-space normal
        line-height 18px
        font-size 14px
    &__line
      margin 0 0 15px
    &__input
      border-radius 4px 0 0 4px
      width 184px
      float left
      margin 0 0 0 15px
    &__submit
      width 46px
      border-radius 0 4px 4px 0
      float left
      margin 0
      font-size 0
      padding 0
      background-position 50% 50%
