@import "../helpers/*"

.kit
  position absolute
  left 0
  bottom 36px
  padding 0 0 0 60px
  background-repeat no-repeat
  background-position 0 100%
  background-color transparent
  background-size 52px 52px
  pointer-events all
  *
    pointer-events all
  &_fly
    background-image url('../images/fly.png')
  &_thailand
    background-image url('../images/tailand.png')
  &__name,
  &__country
    line-height 60px
    font-size 60px
    font-weight bold
    text-shadow 0 2px 4px rgba(#000, .2)
  &__region
    position absolute
    left 60px
    bottom 60px
    line-height 29px
    font-size 24px
  &__count
    position absolute
    bottom 30px
    left 100%
    margin 0 0 0 10px
    line-height 24px
    font-size 20px
    font-weight bold
    white-space nowrap


@media (max-width: $laptop)
  html body .kit
    bottom 20px

@media (max-width: $mobile)
  html body .wrapper
    margin 0
    .kit
      position static
      bottom auto
      padding 0
      background-position 50% 107px
      height 100%
      &__name,
      &__country
        bottom 10px
        left 0
        right 0
        text-align center
        line-height 34px
        font-size 28px
        font-weight bold
        position absolute
      &__region
        top 53px
        left 15px
        bottom auto
        right auto
        font-size 14px
        line-height 16px
        font-weight normal
      &__count
        left auto
        top 53px
        right 15px
        bottom auto
        font-size 14px
        line-height 16px
        font-weight normal
