@import "../helpers/*"

.items
  max-width 760px
  margin auto
  counter-reset item
  *
    pointer-events all
  &__wrapper
    float right
    width 760px
    margin 0 -37px 0 0
    overflow hidden
  &__header
    height 180px
    border-radius 8px
    background-color #FFEE58
    position relative
    margin 0 0 30px
    background-size cover
    &_beach
      color $white
      background-color #ffee58
      background-image url("../images/item_beaching.jpg")
    &_vacination
      background-color #90a4ae
      background-image url("../images/item_vaccination.jpg")
      color $white
    &_walking
      background-color #ec407a
      background-image url("../images/item_city_walking.jpg")
      color $white
    &_diving
      background-color #ec407a
      color $white
    &_aid
      background-color #ff7043
      background-image url("../images/item_first_aid.jpg")
      color $white
    &_snorkeling
      background-color #29b6f6
      color $white
    &_whales
      background-color #29b6f6
      color $white
    &_trekking
      background-color #66bb6a
      color $white
    &_safari
      background-color #66bb6a
      color $white
    &_caving
      background-color #8d6e63
      color $white
    &_surfing
      background-color #26c6da
      background-image url("../images/item_surfing.jpg")
      color $white
    &_mountin-hiking
      background-color #26c6da
      color $white
  &__title
    font-size 44px
    line-height 52px
    font-weight bold
    color inherit
    left 24px
    bottom 15px
    position absolute
    white-space nowrap
  &__count
    position absolute
    left 100%
    bottom 31px
    color inherit
    font-size 18px
    line-height 22px
    white-space nowrap
    margin 0 0 0 8px
  &__abstract
    margin 0 0 30px
    p
      margin 10px 0
      font-size 18px
      line-height 25px
      color $grey


@media (max-width: $mobile)
  html body .items
    max-width initial
    &__title
      font-size 28px
    &__header
      margin 0 -15px 15px
      border-radius 0
      height 120px
    &__abstract
      font-size 16px
      line-height 24px

@media (max-width: 1120px)
  html body .items
    &__wrapper
      float none
      width auto
      margin 0
      overflow visible

@media (max-width: 980px)
  html body .items
    &__wrapper
      margin-top -5px
      padding 102px 0 0
