@import "../colors/colors.styl"


grey_button()
  grey_button_base()
  height 44px
  line-height 40px
  padding 0px 25px 0 50px
  font-size 20px
  border-radius 25px

grey_button_hover()
  background-color $grey-hover
  border-color $grey-hover

grey_button_base()
  -webkit-appearance none
  -moz-appearance none
  appearance none
  cursor pointer
  border-style none
  margin 0
  color $grey
  border 2px solid $grey-border
  text-decoration none
  font-weight normal
  background-color transparent
  background-repeat no-repeat
  display inline-block
  vertical-align middle
  font-family 'Lato', sans-serif
  transition background-color .25s, border-color .25s
  &:hover
    grey_button_hover()
  &:active
    background-color darken($grey-hover, 10%)
    border-color darken($grey-hover, 10%)


green_button()
  green_button_base()
  height 46px
  line-height 46px
  padding 0px 25px 0 50px
  font-size 20px
  border-radius 25px

green_button_large()
  green_button_base()
  height 60px
  line-height 60px
  padding 0px 30px 0 60px
  font-size 22px
  border-radius 30px

green_button_middle()
  green_button_base()
  height 54px
  line-height 54px
  padding 0px 30px
  font-size 21px
  border-radius 30px

green_button_base()
  -webkit-appearance none
  -moz-appearance none
  appearance none
  cursor pointer
  border-style none
  margin 0
  color $white
  text-decoration none
  font-weight bold
  background-color $green
  background-repeat no-repeat
  display inline-block
  vertical-align middle
  font-family 'Lato', sans-serif
  transition background-color .25s, box-shadow .25s
  &:hover
    background-color $green-hover
  &:active
    background-color $green-active
