@import "../helpers/*"

.info
  position relative
  float left
  left 100%
  margin 0 0 0 -210px
  width 180px
  pointer-events all
  *
    pointer-events all
  section
    margin 0 0 20px
  &__capital
    display none
  &__title
    border-bottom 1px solid $light-grey
    font-size 16px
    line-height 24px
    color $semi-grey
    margin 0 0 10px

  p
    font-weight bold
    font-size 18px
    line-height 24px
    color $grey
    margin 0 0 10px

  &__currency
    display none
    &-name
      display block
      white-space normal
    &-rates
      white-space normal
    &-rate
      display inline-block
      font-size 14px
      margin 0 10px 10px 0
      padding 0
      line-height 25px
      height 25px
      white-space nowrap
      &:before
        content "."
        overflow hidden
        text-indent -999px
        border-radius 100%
        margin 0 5px 0 0
        width 23px
        height 23px
        border 1px solid $currency-border
        vertical-align middle
        display inline-block
        background-repeat no-repeat
        background-position 50% 50%
        background-color transparent
      &_usd:before
        background-image url("../svg/usd.svg")
      &_eur:before
        background-image url("../svg/eur.svg")



@media (max-width: $laptop)
  html body .info
    margin 0 0 0 -180px


@media (max-width: 940px)
  html body .info
    float none
    left auto
    margin 0 -15px 15px 0
    padding 0 15px 0 0
    width auto
    border-bottom 1px solid $light-grey
    &_mobile-hidden
      display none
    &__currency
      &-rate
        margin-bottom 0
    section
      position relative
      width 100%
      margin 0 0 20px
      clearit()
    &__details
      float left
      position relative
      left 100%
      width 100%
      box-sizing border-box
      padding 0 0 0 120px
      margin 0 0 0 -100%
      p
        margin 0
    &__title
      float left
      position relative
      left 100%
      width 120px
      margin 0 0 0 -100%
      border-bottom-style none
    &__social
      display none
