<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    
    title Long Flight Kit | VacayKit
    
    link(rel="icon", sizes="16x16", type="image/x-icon", href="images/favicon/favicon.ico")
    link(rel="icon", sizes="16x16", type="image/png", href="images/favicon/favicon-16x16.png")
    link(rel="icon", sizes="32x32", type="image/png", href="images/favicon/favicon-32x32.png")
    link(rel="icon", sizes="96x96", type="image/png", href="images/favicon/favicon-96x96.png")
    
    link(rel="apple-touch-icon", href="images/favicon/apple-icon.png")
    link(rel="apple-touch-icon", sizes="57x57", href="images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="images/favicon/apple-icon-180x180.png")
    link(rel="apple-touch-icon", sizes="192x192", href="images/favicon/apple-icon-precomposed.png")
    
    
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/modernizr/modernizr.js")
    script(src="js/jquery/dist/jquery.min.js")

    script(src="js/scripts.js", defer, async)

  body

    header.fly

      nav.project

        a(href="/")
          h1.logotype VacayKit

        button.hamburger(type="button")
          span.hamburger__line.hamburger__line_top
          span.hamburger__line.hamburger__line_middle
          span.hamburger__line.hamburger__line_bottom

        .project__wrapper
          a.project__link.project__link_mobile(href="/") Home
          .dropdown
            h2.dropdown__title Popular Kits
            .dropdown__panel
              .dropdown__wrapper
                ul.dropdown__body
                  - var n = 5
                    while n--
                      li: a(href="#") Beaching
                      li: a(href="#") Surfing
                      li: a(href="#") Caving
                      li: a(href="#") Diving
                      li: a(href="#") Snorkeling
                      li: a(href="#") Jungle
          a.project__link(href="#") Blog
          a.project__link(href="#") About
          a.project__link.project__link_mobile(href="#") Contact us

        .project__lightbox

      .wrapper
        h2.kit.kit_fly
          span.kit__name Long Flight Kit
          span.kit__count 8 kits

        a.subscribe(href="#") Get my Packing List

    section.page

      section.page__header

        section.page__section.page__section_open

          aside.info.info_mobile-hidden

            section.info__social
              h2.info__title Share with friends
              .info__details
                img(src="images/social_dummy_2.png", alt="Заглушка")


          section.brief

            p Ditch the usual tourist traps and vacation like a native—on foot! With 50 adventures to choose from in each deck, just pick a card from the deck and be on your way. 

            p Whether you're a first time visitor to the city, or just want to discover new terrain, City Walks gives you an intimate view.
            
        button.page__subscribe(type="button") Get the Packing List
        button.page__share(type="button") Share with friends

      section.items

        ol.items__list

          li.item
            h3.item__title High sun protection body
            .item__abstract
              p Everyone needs sunscreen to protect their skin from damaging UV rays from the sun and sunburn. Using sunscreen products decreases the chances for sunburn and can prevent skin cancer or malignant melanoma.
            .item__elements-wrapper
              .item__elements
                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-1.jpg", alt="Фотография")
                  .item__details
                    .item__info Avene Thermal Spring water spray 300 ml, 10.5 -Ounce Package
                    .item__rating
                      .stars
                        .stars__current(style="width: 50%;", data-value="50")
                      .item__votes 101 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $14.57
                    del.item__price-old $157.12

          li.item
            h3.item__title High sun protection face

            .item__elements-wrapper
              .item__elements

                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-1.jpg", alt="Фотография")
                  .item__details
                    .item__info Avene Thermal Spring water spray 300 ml, 10.5 -Ounce Package
                    .item__rating
                      .stars
                        .stars__current(style="width: 80%;", data-value="80")
                      .item__votes 101 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $123.57

                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-2.jpg", alt="Фотография")
                  .item__details
                    .item__info Avene Thermal Spring Water 3 To Go Kit, 5.28 oz
                    .item__rating
                      .stars
                        .stars__current(style="width: 100%;", data-value="100")
                      .item__votes 390 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $14.57
                    del.item__price-old $157.12

          li.item.item_important
            h3.item__title Sun oil
            .item__abstract
              p Indication Dermatological care

            .item__elements-wrapper
              .item__elements
                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-3.jpg", alt="Фотография")
                  .item__details
                    .item__info Avene Thermal Spring water spray 300 ml, 10.5 -Ounce Package
                    .item__rating
                      .stars
                        .stars__current(style="width: 100%;", data-value="100")
                      .item__votes 390 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $14.57
                    del.item__price-old $157.12

          li.item
            h3.item__title UV protection shirt and shorts
            .item__elements-wrapper
              .item__elements
                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-4.jpg", alt="Фотография")
                  .item__details
                    .item__info O'Neill UV Sun Protection Men's Basic Skins Tee Rashguard
                    .item__rating
                      .stars
                        .stars__current(style="width: 80%;", data-value="80")
                      .item__votes 101 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $16.77 - $30.85

                a.item__element(href="#")
                  .item__photo
                    img(src="images/item-5.jpg", alt="Фотография")
                  .item__details
                    .item__info O'Neill UV Sun Protection Men's Basic Skins Long Sleeve Crew Rashguard
                    .item__rating
                      .stars
                        .stars__current(style="width: 100%;", data-value="100")
                      .item__votes 390 reviews
                  .item__price.item__price_amazon
                    strong.item__price-current $16.77 - $30.85


        form.items-subscribe(action="/subscribe/", method="post")
          h2.items-subscribe__title Get my Thailand packing list
          fieldset.items-subscribe__line.items-subscribe__line_email
            input.items-subscribe__input(type="email", name="email", placeholder="Email", required="required")
            button.items-subscribe__submit(type="submit") Send
          fieldset.items-subscribe__line.checkbox
            input#items-subscribe__update.checkbox__input(type="checkbox", name="update")
            label.checkbox__label(for="items-subscribe__update") Subscribe me to VacayKit monthly update

    footer
      p.copyright © 2015 VacayKit.
        span  All rights reserved.
      nav.project
        a.project__link(href="#") Popular kits
        a.project__link(href="#") Blog
        a.project__link(href="#") About
        a.project__link(href="#") Contact us
      nav.social
        a.fb(href="#")
        a.tw(href="#")
        a.gp(href="#")
        a.pi(href="#")
        a.yt(href="#")

    .popup.subscribe-form-popup
      .popup__lightbox
      form.popup__panel.subscribe-form(action="/", method="post")
        h2.subscribe-form__title Get my Thailand packing list
        fieldset.subscribe-form__line
          input.subscribe-form__input(type="email", name="email", placeholder="Email", required="required")
          button.subscribe-form__submit(type="submit") Send
        fieldset.subscribe-form__line.checkbox
          input#subscribe-form__update.checkbox__input(type="checkbox", name="update")
          label.checkbox__label(for="subscribe-form__update") Subscribe me to VacayKit monthly update
        nav
          a.popup__close(href="#")

    .popup.subscribe-confirmation-popup
      .popup__lightbox
      .popup__panel.subscribe-confirmation
        h2.subscribe-confirmation__title Check your inbox
        p.subscribe-confirmation__message We've sent The Complete Packing List for Thailand to your Email. Please check Spam folder if you won't have received it in 5 minutes.
        button.show-socials(type="button") Share with friends
        nav.subscribe-confirmation__socials
          h3 Help us get famous
          img(src="images/social_dummy.png", alt="Заглушка для социальных сетей")
        nav
          a.popup__close(href="#")

    .popup.share-list-popup
      .popup__lightbox
      .popup__panel.share-list
        h2.share-list__title Share with friends
        nav.share-list__navigation
          a.fb(href="#") Like
          a.tw(href="#") Tweet
          a.gp(href="#") +1
          a.pi(href="#") Pin it
          a.email(href="#") Send by Email
        nav
          a.popup__close(href="#")
