<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="application-name" content="VacayKit")
    meta(name="msapplication-TileImage", content="images/favicon/apple-icon-precomposed.png")
    meta(name="msapplication-TileColor" content="#ffffff")
    
    title VacayKit
    
    link(rel="icon", type="image/svg+xml", href="images/favicon/vacaykit_favicon.svg")
    
    link(rel="icon", sizes="16x16", type="image/x-icon", href="images/favicon/favicon.ico")
    link(rel="icon", sizes="16x16", type="image/png", href="images/favicon/favicon-16x16.png")
    link(rel="icon", sizes="32x32", type="image/png", href="images/favicon/favicon-32x32.png")
    link(rel="icon", sizes="96x96", type="image/png", href="images/favicon/favicon-96x96.png")
    
    link(rel="icon", sizes="36x36", href="images/favicon/android-icon-36x36.png")
    link(rel="icon", sizes="48x48", href="images/favicon/android-icon-48x48.png")
    link(rel="icon", sizes="72x72", href="images/favicon/android-icon-72x72.png")
    link(rel="icon", sizes="144x144", href="images/favicon/android-icon-144x144.png")
    link(rel="icon", sizes="192x192", href="images/favicon/android-icon-192x192.png")
    
    link(rel="icon", sizes="70x70", href="images/favicon/ms-icon-70x70.png")
    link(rel="icon", sizes="150x150", href="images/favicon/ms-icon-150x150.png")
    link(rel="icon", sizes="310x310", href="images/favicon/ms-icon-310x310.png")
    
    link(rel="apple-touch-icon", href="images/favicon/apple-icon.png")
    link(rel="apple-touch-icon", sizes="57x57", href="images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="images/favicon/apple-icon-180x180.png")
    link(rel="apple-touch-icon", sizes="192x192", href="images/favicon/apple-icon-precomposed.png")
    
    
    link(rel="stylesheet", href="css/styles.css")
    
    script(src="js/modernizr/modernizr.js")
    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/handlebars/handlebars.min.js")
    script(src="js/d3/d3.min.js")
    
    script(src="js/scripts.js", defer, async)

  body

    header.landing-bg

      nav.project

        a(href="home.html")
          h1.logotype VacayKit

        button.hamburger(type="button")
          span.hamburger__line.hamburger__line_top
          span.hamburger__line.hamburger__line_middle
          span.hamburger__line.hamburger__line_bottom

        .project__wrapper
          a.project__link.project__link_mobile(href="home.html") Home
          .dropdown
            h2.dropdown__title Popular Kits
            .dropdown__panel
              .dropdown__wrapper
                ul.dropdown__body
                  - var n = 5
                    while n--
                      li: a(href="#") Beaching
                      li: a(href="#") Surfing
                      li: a(href="#") Caving
                      li: a(href="#") Diving
                      li: a(href="#") Snorkeling
                      li: a(href="#") Jungle
          a.project__link(href="#") Blog
          a.project__link(href="content.html") About
          a.project__link.project__link_mobile(href="contacts.html") Contact us

        .project__lightbox

      .wrapper
        h2.title Plan less, vacation more!

    section.landing
      p.landing__message VacayKit is a simple online app designed to deliver customized travel kits for unique holiday activities anywhere you want to go in the world. Pick your destination, grab your vacation kits, and have the holiday experience of a lifetime!
      
      form.landing__selector(action="/show/kit/", method="post")
        label(for='kit-selector') I'm travelling to
        select(id="kit-selector", data-select="true")
          option(value="1") Long Flight
          option(value="2") Thailand
          option(value="3") Sri Lanka
          option(value="4") Ecuador
          option(value="5") Germany
          option(value="6") Swiss Confederation
          option(value="7") Russia
          option(value="8") Urugvay
          option(value="9") France
          option(value="10") Perda de la Villa de la papa de mama
            
        button(type="submit") Get my Packing List
        
    section.featured
      h2.featured__title Featured travel kits
      
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-1.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-1.png", alt="Иконка")
            h3.featured__kit-name Long Flight
            p.featured__kit-count 8 items
            
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-2.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-2.png", alt="Иконка")
            h3.featured__kit-name Thailand
            p.featured__kit-count 15 activities, 45 items
            
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-3.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-3.png", alt="Иконка")
            h3.featured__kit-name Sri Lanka
            p.featured__kit-count 12 activities, 50 items
            
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-4.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-4.png", alt="Иконка")
            h3.featured__kit-name Ecuador
            p.featured__kit-count 10 activities, 50 items
            
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-5.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-5.png", alt="Иконка")
            h3.featured__kit-name Germany
            p.featured__kit-count 14 activities, 32 items
            
      article.featured__item
        a.featured__link(href="#")
          img.featured__photo(src="images/places/place-6.jpg", alt="Фотография")
          .featured__details
            img.featured__kit-icon(src="images/kiticon-6.png", alt="Иконка")
            h3.featured__kit-name Swiss Confederation
            p.featured__kit-count 8 activities, 34 items
            
        
      

    footer
      p.copyright © 2015 VacayKit.
        span  All rights reserved.
      nav.project
        a.project__link(href="#") Popular kits
        a.project__link(href="#") Blog
        a.project__link(href="content.html") About
        a.project__link(href="contacts.html") Contact us
      nav.social
        a.fb(href="#")
        a.tw(href="#")
        a.gp(href="#")
        a.pi(href="#")
        a.yt(href="#")

    
    script(id="select-template", type="text/x-handlebars-template").
        <span class="select">
          <span class="select__current select__current_unchanged">Please select</span>
          <span class="select__dropdown">
            {{#each options}}
            <span tabindex="{{../tab}}" class="select__option" data-value="{{value}}">{{label}}</span>
            {{/each}}
          </span>
        </span>
