@import "../helpers/*"

.brief
  position relative
  float left
  left 100%
  margin 0 0 0 -100%
  width 720px
  padding 0 0 0 30px
  pointer-events all
  *
    pointer-events all
  p
    font-size 18px
    line-height 24px
    margin 0 0 24px

@media (max-width: $laptop)
  html body .brief
    padding 0
    width 710px

@media (max-width: 940px)
  html body .brief
    float none
    left auto
    width auto
    margin 0
