@import "../helpers/*"

body
  &>header
    height 380px
    background-size cover
    background-repeat none
    color $white
    &.content
      background-image url('../images/header_bg_3.jpg')
      height 200px
    &.thailand
      background-image url('../images/header_bg_1.jpg')
    &.fly
      background-image url('../images/header_bg_2.jpg')

    .subscribe
      green_button_large()
      position absolute
      bottom 36px
      right 0
      background-image url('../svg/subscribe.svg')
      background-position 28px 50%
    .wrapper
      margin auto
      height 100%
      position relative
      max-width 1000px
    .title
      line-height 140px
      white-space nowrap
      padding 60px 0 0
      text-align center
      font-size 60px
      font-weight bold
      color $white
      text-shadow 0 2px 4px $light-shade
    .hamburger
      display none
    .logotype
      position absolute
      top 0
      left 30px
      width 110px
      height 60px
      display block
      text-indent -9999px
      overflow hidden
      background url('../svg/logotype.svg') 50% 55% no-repeat
      z-index 13
    .project
      pointer-events all
      background-color $opaq-grey
      z-index 12
      position absolute
      top 0
      left 0
      right 0
      height 60px
      line-height 60px
      font-size 20px
      padding 0 50px 0 140px
      white-space nowrap
      &__link
        text-decoration none
        color $white
        // margin 0 0 0 40px
        padding 0 20px
        display inline-block
        &:hover
          background-color $opaq-black-light
        &_selected
          background-color $opaq-black-light
          font-weight bold
          pointer-events none
        &_mobile
          display none


@media (max-width: $laptop)
  body>header
    height 320px
    .subscribe
      bottom 20px
    .wrapper
      max-width 920px

@media (max-width: 940px)
  body>header
    .subscribe
      display none
    .wrapper
      max-width initial
      margin 0 20px

@media (max-width: $mobile)
  html>body.menu_open>header
    .project
      position fixed
      &__wrapper
        transform translateX(0)
      &__lightbox
        right 0
        opacity 1
  html>body>header
    height 200px
    &.content
      background-image url('../images/header_bg_3.jpg')
      height 140px
    .title
      line-height 96px
      white-space nowrap
      padding 44px 0 0
      text-align center
      font-size 32px
    .subscribe
      display none
    .hamburger
      z-index 3
      display block
    .logotype
      height 44px
      left 0
      right 0
      margin auto
    .project
      height 44px
      line-height 44px
      white-space normal
      &__lightbox
        position fixed
        z-index 1
        top 44px
        opacity 0
        bottom 0
        left 0
        background-color $opaq-black
        will-change opacity
        opacity 0
        pointer-events all
        cursor pointer
      &__wrapper
        pointer-events all
        z-index 2
        position fixed
        left 0
        top 44px
        bottom 0
        overflow auto
        overflow-x hidden
        overflow-y auto
        box-sizing border-box
        width 81%
        width 81vw
        background-color $opaq-grey-light
        line-height 20px
        clearit()
        will-change transform
        transform translateX(-100%)
      &__link
        padding 0 20px
        margin 0
        white-space nowrap
        display block
        font-weight normal
        font-size 22px
        line-height 44px
        height 44px
        &:hover
          background-color $transparent-black
        &_mobile
          display block
