@import "../helpers/*"

.best
  position relative
  padding 0 0 0 30px
  clearit()
  *
    pointer-events all
  &__abstract
    margin 30px 0 0
    width 720px
    p
      font-size 18px
      line-height 24px
      margin 0 0 24px
  &__graphs
    float left
    position relative
    left 100%
    margin-left -100%
    width 600px
  &__graph
    width 100%
    min-height 100px
    clearit()
    &-header
      .best__graph-title
        margin 0
        display inline-block
        vertical-align middle
      .switcher
        display inline-block
        vertical-align middle
        button
          min-width 40px
    &-title
      margin 50px 20px 30px 0
      font-size 21px
      font-weight bold
      line-height 25px
    &-container
      width 100%
      height 300px
      .min,
      .max
        font-size 13px
        font-family 'Lato', sans-serif
      .bar-text
        font-size 16px
        font-weight bold
        font-family 'Lato', sans-serif
      .bar
        fill steelblue
        float left
      .bar:hover
        fill brown
      .x-axis
        font-size 14px
        font-family 'Lato', sans-serif
        fill $semi-grey
      .axis-line
        fill $light-grey-border
        shape-rendering crispEdges

  &__stats
    float left
    position relative
    left 100%
    margin-left -300px
    width 300px
    clearit()

  &__label
    display inline-block
    width 170px
    font-size 16px
    line-height 19px
    color $semi-grey
    float left
    position relative
    left 100%
    margin-left -100%
  &__data
    display inline-block
    width 130px
    font-size 16px
    line-height 19px
    color $grey
    float left
    position relative
    left 100%
    margin-left -130px
  &__month
    font-size 18px
    line-height 22px
    font-weight bold
    margin 0 0 10px
  &__dataset
    width 300px
    position:relative
    margin 0 0 10px
    clearit()
  &__stat
    clearit()
    margin 0 0 30px
    &-title
      margin 0 0 10px
      font-size 18px
      line-height 22px
      color $semi-grey
      border-bottom 1px solid $light-grey-border


@media (max-width: $laptop)
  html body .best
    padding 0
    &__abstract
      margin 30px 0 0
    &__graph
      .min,
      .max,
      .bar-text
        font-size 12px

@media (max-width: 940px)
  html body .best
    &__stats
      float none
      left auto
      margin 0 0 30px
      width auto
    &__graph
      width 100%
      &-container
        height 150px
      .x-axis
        font-size 12px
        fill $grey
      .min,
      .max,
      .bar-text
        font-size 11px
        font-weight normal
    &__graphs
      width auto
      float none
      left auto
      margin 0 0 30px
    &__abstract
      width auto
      margin 15px 0 0
