@import "../helpers/*"

.best
  position relative
  padding 0 0 0 30px
  clearit()
  *
    pointer-events all
  &__abstract
    margin 30px 0 0
    width 720px
    p
      font-size 18px
      line-height 24px
      margin 0 0 24px
  &__graphs
    clear left
    float left
    position relative
    left 100%
    margin-left -100%
    width 600px
  &__graph
    width 600px
    min-height 100px
    clearit()
    &-header
      .best__graph-title
        margin 0
        display inline-block
        vertical-align middle
      .switcher
        margin 0 0 0 20px
        display inline-block
        vertical-align middle
    &-title
      margin 50px 0 30px
      font-size 21px
      font-weight bold
      line-height 25px
    &-container
      width 600px
      max-width 100%
      height 300px
      .bar
        fill steelblue
        float left
      .bar:hover
        fill brown

      .axis text
        font-size 14px
        font-family 'Lato', sans-serif
        fill $semi-grey
      .axis path,
      .axis line
        fill none
        stroke $light-grey-border
        shape-rendering crispEdges

  &__stats
    float left
    position relative
    left 100%
    margin-left -300px
    width 300px
    clearit()

  &__label
    display inline-block
    width 170px
    font-size 16px
    line-height 19px
    color $semi-grey
    float left
    position relative
    left 100%
    margin-left -100%
  &__data
    display inline-block
    width 130px
    font-size 16px
    line-height 19px
    color $grey
    float left
    position relative
    left 100%
    margin-left -130px
  &__month
    font-size 18px
    line-height 22px
    font-weight bold
    margin 0 0 10px
  &__dataset
    width 300px
    position:relative
    margin 0 0 10px
    clearit()
  &__stat
    clearit()
    margin 0 0 30px
    &-title
      margin 0 0 10px
      font-size 18px
      line-height 22px
      color $semi-grey
      border-bottom 1px solid $light-grey-border


@media (max-width: $laptop)
  html body .best
    &__abstract
      padding 0
      margin 30px 0 0

@media (max-width: 940px)
  html body .best
    &__abstract
      width auto
      margin 15px 0 0
