@import "../helpers/*"

.hamburger
  background none
  border-style none
  margin 0
  padding 0
  box-shadow none
  -webkit-appearance none
  -moz-appearance none
  appearance none
  overflow visible
  cursor pointer
  position absolute
  width 44px
  height 44px
  top 0
  left 0
  &_open
    .hamburger__line
      &_top
        transform rotate(45deg) scale(1, 1)
      &_middle
        transform rotate(0) scale(0, 0)
      &_bottom
        transform rotate(-45deg) scale(1, 1)
  &__line
    width 17px
    height 1px
    display block
    background $white
    position absolute
    left 14px
    top 50%
    transition transform .25s linear
    transform rotate(0) scale(1, 1)
    will-change transform
    &_top
      margin-top -6px
      transform-origin 0 50%
    &_middle
      transform-origin 50% 50%
    &_bottom
      margin-top 6px
      transform-origin 0 50%
