@import "../helpers/*"

.featured
  font-size 0
  max-width 1080px
  margin 30px auto 56px
  text-align center
  &__title
    font-size 40px
    line-height 53px
    margin 0 0 20px
    color $grey
  &__photo
    display block
    min-height 100%
    min-width 100%
  &__item
    border-radius 6px
    width 320px
    height 240px
    overflow hidden
    display inline-block
    vertical-align top
    margin 0 20px 40px
    position relative
  &__details
    text-align left
    position absolute
    bottom 10px
    left 10px
    right 10px
  &__kit-icon
    width 44px
    height 44px
    float left
    margin 0 10px 0 0
  &__kit-name
    margin -5px 0 0
    font-size 26px
    line-height 32px
    color $white
    white-space nowrap
    font-weight bold
  &__kit-count
    font-size 14px
    line-height 17px
    color $white
    white-space nowrap
    font-weight bold

@media (max-width: $laptop)
  html>body .featured
    &__item
      width 280px
      height 210px
    &__kit-name
      margin-top 0
      font-size 20px
      line-height 24px

@media (max-width: 768px)
  html>body .featured
    &__item
      width 340px
      height auto
      margin 0 15px 30px
    &__kit-name
      margin-top -5px
      font-size 26px
      line-height 32px

@media (max-width: $mobile)
  html>body .featured
    margin 20px auto 86px
    &__item
      margin 0 15px 15px
      width 290px
    &__kit-name
      margin-top 0
      font-size 22px
      line-height 27px
