@import "../helpers/*"

.dropdown
  display inline-block
  position relative
  height 100%
  vertical-align top
  padding 0 20px
  margin 0 0 0 20px
  *
    pointer-events all
  &:hover
    background-color $opaq-black-light
    .dropdown__panel
      display block
  &__title
    cursor pointer
    display inline-block
    padding 0 21px 0 0
    white-space nowrap
    transition color .25s
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    position:relative
    &:after
      transition color .25s
      content "\e008"
      display block
      position absolute
      right 0
      top 2px
      icon()
      color $white
      font-size 12px
  &__wrapper
    width 210px
    max-height 180px
    overflow auto
    overflow-x hidden
    overflow-y auto
    z-index 1
    position relative

  &__body
    li a
      text-decoration none
      color $black
      font-size 16px
      line-height 32px
      padding 0 15px
      display block
      &:hover
        background-color $opaq-black-lighter

  &__panel
    display none
    width 210px
    padding 15px 0
    max-height 180px
    border-radius 4px
    background-color $white
    position absolute
    top 100%
    margin -10px 0 0 -30px
    &:after
      content "."
      display block
      position absolute
      z-index 2
      left 0
      right 0
      top -8px
      width 32px
      height 20px
      overflow hidden
      text-indent -9999px
      line-height 0
      font-size 0
      background url('../svg/dropdown-tail.svg') 50% 0 no-repeat
      background-size auto 14px
      margin auto

@media (max-width: $mobile)
  html body .dropdown
    margin 0
    padding 0
    display block
    height auto
    &:hover
      background none
      .dropdown__panel
        display none
    &_open,
    &_open:hover
      .dropdown__panel
        display block
      .dropdown__title
        background $transparent-black url('../svg/dropdown-close.svg') 90% 50% no-repeat
    &__wrapper
      width auto
      max-height 238px
    &__title
      margin 0
      padding 0 20px
      display block
      line-height 44px
      white-space nowrap
      background url('../svg/dropdown-open.svg') 90% 50% no-repeat
      &:after
        display none
      &:hover
        background-color  $transparent-black
    &__body
      li a
        padding 0 20px
        color $white
        font-size 18px
        line-height 34px
        &:hover
          background-color  $transparent-black
    &__panel
      border-bottom 1px solid $transparent-white
      display none
      position static
      max-height 238px
      margin 0
      padding 0
      background-color transparent
      width auto
      border-radius 0
      &:after
        display none
