@import "../helpers/*"

.stars
  vertical-align middle
  display inline-block
  width 108px
  height 20px
  background url("../svg/star.svg") 0px 0px repeat-x
  background-size 22px 20px
  &__current
    height 20px
    display block
    background url("../svg/star-selected.svg") 0px 0px repeat-x
    background-size 22px 20px

@media (max-width: 750px)
  html body .stars
    background-size auto 15px
    height 15px
    width 81px
    &__current
      height 15px
      background-size auto 15px
