@import "../helpers/mediaquery/mediaquery.styl"
@import "../helpers/colors/colors.styl"

.checkbox
  display inline-block
  &__label
    cursor pointer
    display inline-block
    position relative
    padding 0 0 0 30px
    font-size 15px
    color $grey
    line-height 20px
    &:hover
      &:before
        border-color $green-gray-border-hover
    &:after
      content "."
      width 20px
      height 20px
      display block
      visibility hidden
      position absolute
      top 0
      left 0
      font-size 0
      overflow hidden
      text-indent -9999px
      background url('../svg/checked.svg') 50% 50% no-repeat
      z-index 2
    &:before
      content "."
      width 16px
      height 16px
      display block
      position absolute
      top 0
      left 0
      font-size 0
      overflow hidden
      text-indent -9999px
      border-radius 3px
      z-index 1
      border 2px solid $green-gray-border
  &__input
    position absolute
    left -9999px
    &:checked + .checkbox__label
      &:hover:after
        background-color $green-gray-light
      &:after
        visibility visible
        background-color $green-gray-hover
        border-radius 3px

@media (max-width: $mobile)
  html>body .checkbox
    &__label
      font-size 14px
