@import "../helpers/*"

.team
  max-width 760px
  padding 0 30px 0
  margin 0 auto 130px
  clearit()
  &__title
    margin 0 0 30px
    font-size 32px
    line-height 39px
    font-weight bold
  &__persons
    margin 0 0 0 -25px
    font-size 0
  &__person
    vertical-align top
    display inline-block
    min-width 160px
    margin 0 15px 40px
    text-align center
    white-space nowrap
    *
      pointer-events all
  &__photo
    width 140px
    height 140px
    border-radius 100%
    display block
    margin 0 auto 16px
  &__name
    font-size 21px
    line-height 25px
    font-weight bold
    margin 0 0 5px
  &__role
    font-size 16px
    line-height 19px
    color $semi-grey
    margin 0 0 15px
  &__social
    a
      width 26px
      height 26px
      line-height 26px
      text-align center
      border-radius 100%
      border 1px solid $icon-border
      display inline-block
      margin 0 4px
      background-position 50% 50%
      background-repeat no-repeat
      text-decoration none
      color $icon-color
      transition color .25s, border-color .25s
      &:hover
        border-color darken($icon-border, 20)
        color darken($icon-color, 20)
      &:before
        icon()
        font-size 14px
      &.fb:before
        content "\e002"
      &.tw:before
        content "\e005"
      &.gp:before
        content "\e003"
      &.pi:before
        content "\e004"
      &.yt:before
        content "\e007"

@media (max-width: $mobile)
  html>body .team
    padding 0
    &__title
      text-align center
      font-size 24px
      line-height 30px
      margin 0 0 20px
    &__persons
      margin 0
      text-align center
    &__person
      min-width 100px
      margin 0 15px 20px
    &__photo
      width 100px
      height 100px
      margin 0 auto 10px
    &__name
      font-size 16px
      line-height 19px
      margin 0 0 2px
    &__role
      font-size 13px
      line-height 16px
      margin 0 0 10px
