icon()
  font-family 'icon'
  speak none
  font-style normal
  font-weight normal
  text-decoration inherit
  vertical-align middle
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
