@import "../colors/colors.styl"

input()
  -webkit-appearance none
  -moz-appearance none
  appearance none
  line-height 24px
  height 24px
  font-size 20px
  padding 11px 10px
  border-radius 4px
  box-shadow 0 1px 0 0 $green-gray-shadow
  background $white
  border-style none
  display inline-block
  font-family 'Lato', sans-serif
  vertical-align middle
  color $semi-grey
  &:hover,
  &:focus
    color $grey
    box-shadow 0 1px 0 0 $green-gray-hover-shadow

input_grey()
  input()
  background $green-gray
  box-sizing border-box
  height 46px

textarea()
  -webkit-appearance none
  -moz-appearance none
  appearance none
  line-height 24px
  box-sizing border-box
  height 200px
  resize none
  font-size 20px
  padding 11px 10px
  border-radius 4px
  box-shadow 0 1px 0 0 $green-gray-shadow
  background $green-gray
  border-style none
  display inline-block
  font-family 'Lato', sans-serif
  vertical-align middle
  color $semi-grey
  &:hover,
  &:focus
    color $grey
    box-shadow 0 1px 0 0 $green-gray-hover-shadow
