@import "../helpers/*"

*
  pointer-events none

html
  width 100%
  height 100%
  overflow-x hidden
  font-family 'Lato', sans-serif
  &.resizing *
    transition none !important
  body
    min-height 100%
    width 100%
    overflow-x hidden
    position relative
    scroll-behavior smooth
    a,
    button,
    input,
    textarea,
    select,
    label,
    h1,
    h2,
    h3,
    h4,
    h5,
    img
      pointer-events all

    button
      -moz-user-select none
      -webkit-user-select none
      -ms-user-select none
      user-select none

    .page
      max-width 1000px
      margin -16px auto 0
      background $white
      border-radius 20px 20px 0 0
      padding 16px 0 56px
      min-height 200px
      background-color $white
      clearit()
      &__sections
        clearit()
        margin 0 0 32px
      &__section
        clearit()
      &__subscribe
        green_button()
        width 720px
        margin 0 0 5px 30px
        background-image url("../svg/subscribe.svg")
        background-position 20px 50%
        display none
      &__share
        grey_button()
        width 720px
        margin 0 0 5px 30px
        background-image url("../svg/share.svg")
        background-position 20px 50%
        background-size 15px auto
        display none
      &__section-button
        grey_button()
        display none
        width 720px
        margin 0 0 5px 30px
        background-image url("../svg/closed.svg")
        background-position 24px 50%
        &_visible
          display block
          & + .page__section
            display none
          &.page__section-button_open + .page__section
            display block
        &_open
          background-image url("../svg/open.svg")
          background-position 21px 50%
          grey_button_hover()

@media (max-width: $laptop)
  html>body
    .page
      max-width 920px
      padding 30px 0 56px
      margin 0 auto
      border-radius 0
      &__subscribe,
      &__share,
      &__section-button
        width 710px
        margin 0 0 5px 0


@media (max-width: 940px)
  html>body
    .page
      padding 30px 0 56px
      max-width initial
      margin 0 15px
      &__section
        display none
      &__subscribe,
      &__share
        display block
        width 100%
      &__section-button
        display block
        width 100%
        &_open + .page__section
          display block

@media (max-width: $mobile)
  html>body
    .page
      padding 30px 0 66px
