@import "../helpers/*"

.landing
  max-width 960px
  margin 30px auto
  padding 0 30px
  &__message
    max-width 710px
    text-align center
    font-size 24px
    line-height 32px
    color $grey
    margin 0 auto 30px
  &__selector
    font-size 0
    border-radius 8px
    width 780px
    margin 30px auto 40px
    padding 20px
    height 54px
    line-height 54px
    background-color $cyan
    white-space nowrap
    clearit()
    label
      font-size 21px
      color $grey
      margin 0 30px 0 10px
      vertical-align middle
      float left
    button
      green_button_middle()
      vertical-align middle
      float right
    select
      vertical-align middle
      float left
    .select
      float left

@media (max-width: $laptop)
  html>body .landing
    padding 0 20px
    &__message
      font-size 22px
      line-height 28px

@media (max-width: 860px)
  html>body .landing
    &__selector
      width 710px
      .select
        width 280px
      label
        margin 0 20px 0 0

@media (max-width: 760px)
  html>body .landing
    &__selector
      width auto
      height auto
      margin 20px -20px
      border-radius 0
      padding 0 15px
      .select
        display block
        clear both
        float none
        width auto
      label
        clear both
        float none
        display block
        text-align center
        font-size 22px
        font-weight bold
        line-height 27px
        padding 15px
      button
        margin 10px 0 15px
        display block
        width 100%
        clear both
        float none

@media (max-width: $mobile)
  html>body .landing
    padding 0 15px
    &__message
      font-size 18px
      line-height 22px
      margin 0 auto 25px
