$cyan = #e5eaef
$grey = #4a4a4a
$grey-dark = #26282c
$grey-border = #e0e3e6
$grey-hover = #d7dce1
$grey-light = #efefef
$black = #383838
$green = #62ce51
$green-text = #43a047
$green-hover = #76e365
$green-hover-shadow = #5cc34b
$green-active = #4bae3b
$green-shadow = #4baf3b
$green-active-shadow = #409e31
$green-gray = #eff3f6
$green-gray-light = #959da4
$green-gray-hover-light = #e2e7ec
$green-gray-hover = #a2abb2
$green-gray-shadow = #dde5eb
$green-gray-border = #d4d7da
$green-gray-hover-shadow = #c8d1d9
$green-gray-border-hover = #bdc2c6
$white = #fff
$red = #fc571f
$pink = #ff5722
$border-color = #929292
$border-color-darker = #e6e8ea
$light-grey = #ebebeb
$light-grey-border = #ededed
$currency-border = #cfd4d7
$icon-border = #d8d8d8
$icon-color = #b1b1b1


$transparent-border = rgba(#1A1A1A, .09)
$photo-border = rgba(#979797, .3)
$opaq-grey = rgba($grey, .8)
$transparent-black-light = rgba($black, .05)
$transparent-grey-dark = rgba($grey, .2)
$transparent-grey-darker = rgba($grey, .4)
$transparent-grey = rgba(#949494, .21)
$semi-grey = rgba($grey, .6)
$opaq-grey = rgba(62, 66, 71, .96)
$opaq-grey-light = rgba(100, 102, 106, .94)
$opaq-black = rgba(#1d1f22, .9)
$opaq-black-light = rgba(#000, .2)
$opaq-black-lighter = rgba(#cacdd1, .3)
$transparent-white = rgba($white, .1)
$transparent-black = rgba(#3e4247, .4)
$light-shade = rgba(0,0,0,.08)
