$cyan = #e5eaef
$grey = #4a4a4a
$black = #383838
$white = #fff

$semi-grey = rgba(74, 74, 74, .6)
$opaq-grey = rgba(62, 66, 71, .96)
$opaq-grey-light = rgba(100, 102, 106, .94)
$opaq-black = rgba(#1d1f22, .9)
