@import "../helpers/*"

.select
  display inline-block
  vertical-align middle
  position relative
  height 54px
  width 340px
  pointer-events all
  line-height 54px
  *
    pointer-events all
  &.select_open
    .select__dropdown
      display block
  &__current
    display block
    height 100%
    padding 0 45px 0 15px
    box-sizing border-box
    border-radius 4px
    font-size 20px
    background-color $white
    color $grey
    border-bottom 1px solid $grey-shade
    position relative
    transition color .25s
    cursor pointer
    &:after
      content "\e008"
      icon()
      position absolute
      right 0
      top 0
      width 28px
      font-size 12px
      color inherit
      ponter-events none
    &_unchanged
      color $opaq-black-light
      &:hover,
      &:focus,
      &:active
        color $half-black
    &:hover,
    &:focus,
    &:active
      color $half-black
  &__dropdown
    display none
    position absolute
    top 100%
    left 0
    right 0
    background-color $white
    border-radius 4px
    z-index 1000
    max-height 250px
    overflow auto
    overflow-x hidden
    overflow-y auto
  &__option
    font-size 21px
    color $opaq-black
    line-height 42px
    display block
    padding 0 15px
    overflow hidden
    text-overflow ellipsis
    width 100%
    box-sizing border-box
    cursor pointer
    white-space nowrap
    &:focus,
    &:active,
    &:hover
      background-color $grey-bg
