@import "../helpers/*"

.popup
  display none
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 100
  overflow auto
  overflow-x hidden
  overflow-y auto
  pointer-events all
  &_open
    display block
  &__close
    position absolute
    top 17px
    right 17px
    width 25px
    height 25px
    background url("../svg/close.svg") 50% 50% no-repeat
  &__lightbox
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 101
    background $opaq-black
    cursor pointer
    pointer-events all
  &__panel
    box-sizing border-box
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    background-color $green-gray
    border-radius 8px
    z-index 102
    pointer-events all

@media (max-width: 620px)
  html body .popup
    &__panel
      border-radius 2px
    &__close
      width 46px
      height 46px
      right 0
      top 0
